/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-size: 14px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
a, p, h1, h2, h3, h4, h5, h6, span {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  overflow-wrap: break-word;
}
p {
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, ol, li, table, tr, td, th {
  font-optical-sizing: auto;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

main {
  align-items: center;
  background-color: var(--grey-900);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.profile__article {
  align-items: center;
  background-color: var(--grey-800);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  padding: 2rem;
  width: 100%;
}

.profile__header {
  align-items: center;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  gap: 1.5rem;
}

.profile__header-image {
  border-radius: 50%;
  max-width: 120px;
}

.profile__headline-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile__location {
  color: var(--green);
  font-weight: 600;
}

.profile__summary {
  text-align: center;
}

.profile__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.profile__list-item {
  background-color: var(--grey-700);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.profile__list-item:hover, .profile__list-hover:active, .profile__list:focus {
  background-color: var(--green);
  color: var(--grey-700);
}

.profile__list-item a {
  color: inherit;
  text-decoration: none;
}